

/* App.css */

/* ... existing styles ... */
.App{
  text-align:center ;
}
.horo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sign-box {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}



/* Update the button styles */
.yesBtn, .noBtn {

  height: 100px;
  margin: 10px;
  font-size: 13px;
}
